.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: white;
    background: #6600CD;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 10vh;
}

.centerButton {
    text-align: center;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Glegoo', serif;
    @import url('https://fonts.googleapis.com/css?family=Glegoo|Montserrat');
}