.c.navbar.navbar-light.bg-faded {
    background: #FF9D5E;
}

.mapss {
    margin: 10px;
}
.titlec {
    color: white !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-family: 'Kollektif';
    font-size: 1.2em !important;
    padding: 0!important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


@font-face {
    font-family: 'Kollektif';
    src: url('./Kollektif.ttf');
}