.counterBackground {
    border-radius: 0px 0px 200px 200px;
    -moz-border-radius: 0px 0px 200px 200px;
    -webkit-border-radius: 0px 0px 200px 200px;
    border: 2px solid #ff9c5e;
    background-color: #ff9c5e;
    height: 52vh;
    -moz-box-shadow: 6px 6px 12px #888; -webkit-box-shadow: 6px 6px 12px #888; box-shadow:6px 6px 12px #888;
}


