.App {
  text-align: center;
}

.container-fluid {
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
  background: #F0F0E8;


}
html {
  background: #F0F0E8;
}